.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  min-height: 400px;
  background: linear-gradient(135deg, #2c3e50, #4ca1af);
  backdrop-filter: blur(10px);
  padding: 20px;
  padding-bottom: 50px;
  font-family: "Arial", sans-serif;
  color: white;
}

.profile-title {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  margin-bottom: 20px;
}

.profile-icon {
  font-size: 5rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.profile-username {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 10px 0;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.logout-button {
  background: linear-gradient(135deg, #ff7eb3, #ff758c);
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  margin-top: 30px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.logout-button:hover {
  background: linear-gradient(135deg, #ff5f91, #ff4365);
}

.logout-button:active {
  transform: scale(0.98);
}

.order-info-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 20px;
  padding-top: 0px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
}

.order-history-title {
  font-size: 1.5rem;
  color: #ffffff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.order-item-id {
  margin: auto 0;
}

.track-button {
  color: white;
  background-color: #2460a0;
  border: none;
  height: 35px;
  width: auto;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.2;
  display: inline-block;
}

.track-button:hover {
  background-color: #053b75;
}

.error {
  color: red;
  font-weight: bold;
}
