/* Gallery styling */
.gallery {
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: #dde6ed; /* Light gray-blue background */
  padding: 20px;
}

/* Card styling */
.card {
  background-color: white;
  border: 1px solid #ccc;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  text-align: center;
}

/* .card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
} */
.card:hover {
  border: 1px solid #ccc;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

/* Product image */
.product-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Product name */
.product-name {
  font-size: 1rem;
  margin: 10px 0;
  color: #333;
  min-height: 50px; /* Ensures consistent height for the title */
  font-family: "Poppins", sans-serif;
}

/* Product price */
.product-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #444;
  margin-bottom: 10px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}

/* Learn more button */
.learn-more {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.learn-more:hover {
  background-color: #0056b3;
}
